<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/styles.css">
    <title class="title">
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body id="body">

    {% for msg in get_flashed_messages() %}
        <p class = "flash-msg">
            {{ msg }}
        </p>
    {% endfor %}
    <div class="nav">
      <h1>NotIMDB</h1>
      <a href="/">Home</a></li>
      <a href="/movies">View all movies</a>
      <a href="/users">View all users</a>
      <h3>Rate DOZENS of movies!</h3>
    </div>
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
